@import url("fonts/stylesheet.css");

/*
* ESTILOS GERAIS
*/
a:hover, a:focus, a:active{
    text-decoration: none;
}
.bg-padrao{
    background: #f3f3f3;
}
body{
    background-color: #FFF;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 1.43;
    color: #29303b;
}
.container{
    width: 100%!important;
    max-width: 1024px!important;
}
.form-control {
    color: #29303b;
    font-size: 18px;
    height: auto;
    box-shadow: none;
    font-size: 16px;
    padding: 10px 12px;
    -webkit-transition:border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -moz-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -ms-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition:border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.form-control:focus {
    box-shadow: inset 0 0 1px rgba(0,119,145,.5);
    border-color: #76c5d6;
}
.form-control::-moz-placeholder {
    color:#686f7a;
    opacity:1
}
.form-control:-ms-input-placeholder {
    color:#686f7a
}
.form-control::-webkit-input-placeholder {
    color:#686f7a
}
.form-control::-ms-expand {
    border:0;
    background-color:transparent
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color:#f2f3f5;
    opacity:1
}
.form-control[disabled], fieldset[disabled] .form-control {
    cursor:not-allowed
}
.form-senha, .form-email, .form-name{
    position: relative;
}
.form-email input, .form-senha input, .form-name input{
    position: relative;
    padding: 11px 10px 12px 40px;
}
.form-email:before, .form-senha:before, .form-name:before {
    content: "\F0E5";
    font-family: 'FontAwesome';
    color: #dedfe0;
    font-size: 20px;
    left: 10px;
    line-height: 1;
    margin-top: 13px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 20px;
    z-index: 2;
}
.form-senha:before {
   content: "\F023";
}
.form-name:before {
   content: "\F007";
}
.btn {
    display:inline-block;
    margin-bottom:0;
    font-weight:600;
    text-align:center;
    vertical-align:middle;
    touch-action:manipulation;
    cursor:pointer;
    border-radius: 2px;
    background-image:none;
    border:1px solid transparent;
    white-space:nowrap;
     -webkit-font-smoothing:antialiased;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}
.btn-primary {
    font-size: 15px;
    padding: 11px 12px;
    color: #fff;
    background-color: #ec5252;
    border: 1px solid transparent;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #992337;
    border-color: transparent;
}
.btn-full{
    width: 100%;
}
.bg-cinza{
    background-color: #f2f3f5;
}

/*
* LOGIN
*/
.box-login{
    margin: 7% auto 28px;
    max-width: 384px;
}
.form-login{
    background: #ffffff;
    border: 1px solid #dedede;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: left;
    padding: 32px;
}
.header-box{
    color: #6a6a6a;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.5px;
    font-family: "CaeciliaLTStd-Roman";
    font-style: normal;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.box-imagem{
    max-width: 100px;
    margin: 0 auto;
}
.box-imagem img{
    max-width: 100%;
}

/*
* MENU
*/
header{
    height: 65px;
    position: relative;
}
.header{
    height: auto!important;
    background: #fff;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    display: block;
    z-index: 99999;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    transition: top 0.2s ease-in-out;
    -webkit-transition: top 0.2s ease-in-out;
}
.header-content{
    display: flex;
    justify-content: space-between;
    background: inherit;
    border-top: none;
    box-shadow: none;
    box-sizing: border-box;
    height: 65px;
    max-width: 1440px;
    margin: auto;
    padding: 0 20px;
    position: relative;
    z-index: 1011;
}
.left-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.right-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.perfil-user{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.logo-menu img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.header .dropdown-link{
    color: #505763;
    display: block;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 15px;
    white-space: nowrap;
}
.header .dropdown-link:focus, .header .dropdown-link:hover{
    outline: none;
    text-decoration: none;
}
.user-avatar{
    display: inline-block;
    position: relative;
    max-width: 100%;
    font-size: 15px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    color: #505763;
    width:45px; 
}
.user-avatar:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.user-avatar-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.user-avatar-initials {
    color: #686f7a;
    font-size: 15px;
}

.user-avatar--initials {
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    color: #686f7a;
    font-size: 15px;
}
.bloco-menu{
    border-left: none;
    border-radius: 0;
    font-size: 13px;
    margin: 0 2px;
     padding: 10px 0; 
    position: relative;
}
.bloco-menu .badge {
    right: -2px;
    left: auto;
    top: -6px;
    min-width: 19px;
    position: absolute;
    border: none;
    padding: 4px 6px;
    font-size: 10px;
    background-clip: padding-box;
    z-index: 1;
    background-color: #007791;
    text-shadow: none;
    vertical-align: text-top;
}
.dropdown:hover .dropdown__menu {
    display: block;
}
.dropdown__menu {
    display: block;
    padding-top: 12px;
    right: 0;
    width: 300px;
    left: inherit;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-clip:padding-box;
    background-color:#fff;
    border:none;
    border-radius:0;
    border-bottom-left-radius:2px;
    border-top:1px solid #e8e9eb;
    box-shadow:0 4px 16px rgba(20, 23, 28, .25);
    color:#505763;
    display:none;
    font-size:13px;
    list-style:none;
    margin:0;
    position:absolute;
    text-align:left;
    top:100%;
    z-index:1000
}
.dropdown__menu:after, .dropdown__menu:before {
    border-style:solid;
    border-width:0 10px 13px;
    content:"";
    height:0;
    position:absolute;
    right:14px;
    width:0
}
.dropdown__menu:before {
    border-color:transparent transparent #e8e9eb;
    top:-14px
}
.dropdown__menu:after {
    border-color:transparent transparent #fff;
    top:-12px
}
/*.dropdown__menu_bottom{
    background: #f2f3f5;
    border-top: 1px solid hsla(210,3%,87%,.45);
    padding: 10px 0;
}*/
.dropdown__menu .menu__link a:not(.btn) {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #29303b;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 22px;
    width: 100%;
    position: relative;
}
.dropdown__menu-list{
    padding-left: 0;
    margin-bottom:0px;
}
.dropdown__menu li{
    display: block;
}
.dropdown__menu li:hover {
    background: #f2f3f5;
}
.dropdown__menu .user-info {
    color: #686f7a;
    flex: 1;
    min-width: 1px;
    margin-left: 10px;
}
.dropdown__menu .user-info span{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dropdown__menu .user-name {
    color: #29303b;
}
.dropdown__menu .user-email {
    color: #686f7a;
    font-size: 13px;
}
.dropdown__menu .link_bordered{
    border-top: 1px solid hsla(210,3%,87%,.45);
    margin: 0px;
}
.menu__link .badge {
    position: static;
    margin-left: 15px;
    top: 0;
}

/*
* DETALHE DO CURSO
*/
.nav-curso{
    position: relative;
    background-color: #fff;
    padding: 8px 0px;
    height: 45px;
    line-height: 45px;
    display: flex;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.12);
    -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,0.12);
    -o-box-shadow: inset 0 1px 1px rgba(0,0,0,0.12);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.12);
    border-bottom: 1px solid rgba(0,0,0,0.12);
}
.nav-curso .back-button {
    background-color: transparent;
    border: none;
    color: rgba(0,0,0,0.54);
}
.nav-curso .right-actions{
    display: flex;
    z-index: 999;
    align-items: center;
    justify-content: flex-end;
}
.nav-curso .left-actions{
    display: flex;
    z-index: 999;
    align-items: center;
    justify-content: center;
}
.divider{
    border-right: 1px solid rgba(0,0,0,0.12);
    height: 100%;
    width: 1px;
}
.nav-curso .nav-link {
    color: rgba(0,0,0,0.54);
    line-height: 29px;
    font-weight: bold;
    padding: 0px 20px;
}
.nav-curso .left-actions a{
    color: rgba(0,0,0,0.54);
    min-width: 72px;
    padding: 0px 20px;
    opacity: 1;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    border-right: 1px solid rgba(0,0,0,0.12);
    -webkit-transition-property: background-color,box-shadow(),color,opacity(n, args);
    -moz-transition-property: background-color,box-shadow(),color,opacity(n, args);
    -o-transition-property: background-color,box-shadow(),color,opacity(n, args);
    -ms-transition-property: background-color,box-shadow(),color,opacity(n, args);
    transition-property: background-color,box-shadow(),color,opacity(n, args);
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    -ms-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    -ms-transition-delay: 0ms;
    transition-delay: 0ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border-radius: 0;
}
.nav-curso .left-actions a:hover{
    background-color: rgba(0,0,0,0.05);
}
.nav-curso .left-actions i{
    padding-right: 10px; 
}
.titulo-licao{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    text-align: center;
    margin: auto;   
    color: #007791;
    z-index: 1;
    border-right: 0px!important;
}
.titulo-licao b{
    color: #29303b;
}
.content-curso{
    position: relative;
    overflow: auto;
    min-height: 100%;
    width: 100%;
}
.content-video{
    background: #fff;
    position: relative;
    top: 0;
    bottom: 0;
    height: auto!important;
    -webkit-transition: padding .4s ease;
    -moz-transition: padding .4s ease;
    -ms-transition: padding .4s ease;
    -o-transition: padding .4s ease;
    transition: padding .4s ease;
}
.sidebar-open{
    padding-left: 400px;
}
.sidebar{
    min-width: 400px;
    position: absolute;
    z-index: 1012;
    width: 400px;
    background-color: #f2f3f5;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,0.12);
    -webkit-transition: margin-left .4s,border-width .4s,padding .4s;
    -moz-transition: margin-left .4s,border-width .4s,padding .4s;
    -ms-transition: margin-left .4s,border-width .4s,padding .4s;
    -o-transition: margin-left .4s,border-width .4s,padding .4s;
    transition: margin-left .4s,border-width .4s,padding .4s;
    -webkit-transition-timing-function: cubic-bezier(0,0,.2,1);
    -moz-transition-timing-function: cubic-bezier(0,0,.2,1);
    -ms-transition-timing-function: cubic-bezier(0,0,.2,1);
    -o-transition-timing-function: cubic-bezier(0,0,.2,1);
    transition-timing-function: cubic-bezier(0,0,.2,1);
    margin-left: -400px;
}
.sidebar.open{
    margin-left: 0;
}
.content-sidebar{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #f2f3f5;
    padding: 10px 10px 120px;
    overflow-y: auto;
}
.content-sidebar .panel-group {
    margin-bottom: 21px;
}
.content-sidebar .section{
    position: relative;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.content-sidebar .panel:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .2s ease;
    pointer-events: none;
    will-change: opacity;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    opacity: 1;
}
.content-sidebar .panel:hover:before {
    opacity: 0;
}
.content-sidebar .panel-heading{
    padding: 0;
    border-radius: 0;
}
.content-sidebar .panel-heading a{
    padding: 20px;
    display: block;
    color: #686f7a;
}
.content-sidebar .panel-heading a:hover, .content-sidebar .panel-heading a:focus, .content-sidebar .panel-heading a:active{
    text-decoration: none;
}
.content-sidebar .bloco-secao{
    color: #686f7a;
    font-size: 13px;
}
.content-sidebar .bloco-status{
    color: #007791;
    font-size: 15px;
}
.content-sidebar .titulo-curso span{
    font-size: 18px;
    font-weight: 600;
    display: block!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    color: #686f7a;
}
.content-sidebar .panel-group .panel-heading+.panel-collapse>.list-group,.content-sidebar .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
}
.content-sidebar .panel-group .panel{
    border:0px;
}
.content-sidebar .panel-body{
    padding-left: 0px;
    padding: 0px;
    margin-bottom: 0px;
}
.content-sidebar .panel-body li{
    color: #fff;
    display: block;
    border-top: 1px solid #f2f3f5;
}
.content-sidebar .panel-body li:hover a{
    background: #f2f3f5;
    text-decoration: none;
}
.content-sidebar .panel-body li.current a{
    color: #fff;
    background: #007791;
}
.content-sidebar .panel-body li.current a:hover {
    background: #005e72;
}
.content-sidebar .panel-body li a{
    color: #686f7a;
    padding: 15px 20px;
    -webkit-transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -ms-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}
.content-sidebar .panel-body .icone-bloco{
    font-size: 11px;
    background: #fff;
    width: 23px;
    height: 23px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #686f7a;
    margin-right: 15px;
    text-align: center;
    display: table;
    line-height: 1;
    -webkit-transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -ms-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
    color: #686f7a;
}
.content-sidebar .panel-body .icone-bloco.completo{
    background-color: #2ab573;
    color: #fff;
    border:0px;
}
.content-sidebar .panel-body .icone-bloco .fa{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.content-sidebar .panel-body .icone-bloco .fa-play{
    padding-left: 2px;
}
.collapsing {
    -webkit-transition-property:height, visibility;
    transition-property:height, visibility;
    -webkit-transition-duration:.35s;
    transition-duration:.35s;
    -webkit-transition-timing-function:ease;
    transition-timing-function:ease
}
.video-js{
    position: relative !important;
    width: 100% !important;
    height: auto !important;
    padding-top: 28px!important;
    background-color: #212121!important;
    max-height: 540px;
}
.video-js .vjs-tech{
    position: relative!important;
    background-color: #212121!important;
}
.video-js.vjs-fullscreen {
    max-width: none;
    max-height: none;
}
.vjs-poster {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #212121!important;
}
.vjs-has-started .vjs-control-bar{  
    background-color: rgba(0,0,0,0.6);
    color: #fff;
}




/*
* LISTAGEM DE CURSOS 
*/

.list-cards{
    padding: 20px 0px;
    min-height: 300px;
    max-width: 800px;
    margin: 0 auto;
}
.card .details-bottom {
    height:35px;
    margin-top:10px
}
.card .details-progress {
    background-color:rgba(41, 48, 59, .25);
    display:block;
    height:2px
}
.card .progress-bar {
    display:inherit;
    height:inherit;
    background-color:#007791
}
.card .progress-bar.completed {
    background-color:#007791
}
.card .progress-text {
    display:inline-block;
    width:60%
}
.card .progress-text span{
    display:inline-block;
    width:50%;
    color: #686f7a;
    font-size: 13px;
    line-height: 1.70;
}
.card ::-webkit-scrollbar {
    -webkit-appearance:none;
    width:6px
}
.card ::-webkit-scrollbar-thumb {
    border-radius:4px;
    background-color:rgba(41, 48, 59, .55)
}
.card {
    display:inline-block;
    vertical-align:top;
    /*margin:0 15px 15px 0;*/
    /*width:240px;*/
    margin: 0 16px 20px 0;
    width: 250px;
    text-align:left;
    background-color:#fff;
    position:relative;
    border:none;
    box-shadow:none
}
.card:nth-child(3n) {
    margin-right: 0;
}
.card:after, .card:before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    transition:.2s ease;
    pointer-events:none;
    will-change:opacity
}
.card:before {
    box-shadow:0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    opacity:1
}
.card:after {
    opacity:0;
    box-shadow:0 2px 8px 2px rgba(20, 23, 28, .15)
}
.card:hover:before {
    opacity:0
}
.card:hover:after {
    opacity:1
}
.card a {
    color:#29303b;
    display:block;
    font-size:13px
}
.card a:hover img {
    opacity:.5
}
.card .details-course, .card .details-name {
    /*height:39px;*/
    display:block!important;
    /*display:-webkit-box!important;*/
    -webkit-line-clamp:4;
    -moz-line-clamp:4;
    -ms-line-clamp:4;
    -o-line-clamp:4;
    line-clamp:4;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -ms-box-orient:vertical;
    -o-box-orient:vertical;
    box-orient:vertical;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:normal
}
.card .secaoLicao{
    color: #007791;
    /*float: right;*/
    display: block;
    margin-top: 5px;
}
.card-image {
    height:auto;
    display:block;
    position:relative;
    background:#29303b;
    overflow:hidden
}
.card-image img {
    width:100%
}
.card-details {
    padding:12px 15px;
    display:block
}
.card-image .button-icone {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: auto 50%;
    background-position: 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    -webkit-transition: -webkit-transform .15s ease-in-out;
    -moz-transition: -moz-transform .15s ease-in-out;
    -o-transition: -o-transform .15s ease-in-out;
    transition: transform .15s ease-in-out;
}
.play-button {
    background: url("../img/play-button.svg") no-repeat;
}
.book-button {
    background: url("../img/book.svg") no-repeat;
}
.pdf-button {
    background: url("../img/pdf.svg") no-repeat;
}
.card-image:hover .button-icone {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.card .btn-primary{
    padding: 5px 12px;
    font-size: 13px;
}
.section-courses{
    color: #fff;
    background-color: #505763!important;
    background: url("../img/bg1.jpg") no-repeat;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}
.section-header{
    padding: 60px 0 20px;
    width: 100%;
    height: 100px;
    display: table-cell; 
    vertical-align: middle; 
}
.section-header h1{
    color: inherit;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.287;
    margin: 0;
}
.section-courses .nav-tabs {
    padding-top: 2px;
    margin-bottom: 0px;
    border: 0px;
}
.section-courses .container{
    max-width: 830px!important;
}
.section-courses .nav-tabs>li {
    padding: 0;
    margin: 0 30px 0 0;
}
.section-courses .nav-tabs>li.active>a{
    background-color: transparent;
    border: 0;
    border-bottom: 6px solid #007791;
    cursor: default;
    border-bottom-color: hsla(0,0%,100%,.7);
    color: #fff;
}
.section-courses .nav-tabs>li>a:hover, .section-courses .nav-tabs>li>a:focus{
    background-color: transparent;
    border: 0;
    border-bottom: 6px solid #007791;
    border-bottom-color: hsla(0,0%,100%,.7);
    color: #fff;
}
.section-courses .nav-tabs>li>a {
    padding: 0 0 5px;
    border: 0px;
    border-bottom: 6px solid hsla(0,0%,100%,0);
    color: #fff;
}
/*
* PDF
*/
.content-pdf{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#outerContainer{
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}
#thumbnailView{
    width: 185px;
}

/*
* BIBLIOGRAFIA 
*/
.content-biblio{
    padding-top: 20px;
    padding-bottom: 20px;
}
.content-biblio .container{
    background-color: #fff;
    padding: 10px 30px 35px; 
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}

.content-biblio h3{
    color: #007791;
    font-size: 22px;
    margin-bottom: 20px;
}
.content-biblio p{
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}
.content-biblio a{
    color: #007791;
    margin-top: 20px;
}

/*
* ESTILOS GERAIS
*/
.ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pos-r {
    position: relative;
}
.fx-c, .fxc {
    flex-direction: row; 
    align-items: center;
    display: flex;
    justify-content: center;
}
.fx {
    flex: 1;
    min-width: 1px;
}
.fx-jsb, .fxjsb {
    display: flex;
    justify-content: space-between;
}
.font-w600 {
    font-weight: 600 !important;
}
.color-azul{
    color: #4b7cb3;
}
.bg-white {
    background-color: #fff;
}
.position-relative{
    position: relative;
}
.remove-margin {
    margin: 0 !important;
}
.remove-margin-t {
    margin-top: 0 !important;
}
.remove-margin-r {
    margin-right: 0 !important;
}
.remove-margin-b {
    margin-bottom: 0 !important;
}
.remove-margin-l {
    margin-left: 0 !important;
}
.remove-padding {
    padding: 0 !important;
}
.remove-padding-t {
    padding-top: 0 !important;
}
.remove-padding-r {
    padding-right: 0 !important;
}
.remove-padding-b {
    padding-bottom: 0 !important;
}
.remove-padding-l {
    padding-left: 0 !important;
}
.push-5 {
    margin-bottom: 5px !important;
}
.push-5-t {
    margin-top: 5px !important;
}
.push-5-r {
    margin-right: 5px !important;
}
.push-5-l {
    margin-left: 5px !important;
}
.push-10 {
    margin-bottom: 10px !important;
}
.push-10-t {
    margin-top: 10px !important;
}
.push-10-r {
    margin-right: 10px !important;
}
.push-10-l {
    margin-left: 10px !important;
}
.push-15 {
    margin-bottom: 15px !important;
}
.push-15-t {
    margin-top: 15px !important;
}
.push-15-r {
    margin-right: 15px !important;
}
.push-15-l {
    margin-left: 15px !important;
}
.push-20 {
    margin-bottom: 20px !important;
}
.push-20-t {
    margin-top: 20px !important;
}
.push-20-r {
    margin-right: 20px !important;
}
.push-20-l {
    margin-left: 20px !important;
}
.push-30 {
    margin-bottom: 30px !important;
}
.push-30-t {
    margin-top: 30px !important;
}
.push-30-r {
    margin-right: 30px !important;
}
.push-30-l {
    margin-left: 30px !important;
}
.push-40 {
    margin-bottom: 40px !important;
}
.push-40-t {
    margin-top: 40px !important;
}
.push-40-r {
    margin-right: 40px !important;
}
.push-40-l {
    margin-left: 40px !important;
}
.push-50 {
    margin-bottom: 50px !important;
}
.push-50-t {
    margin-top: 50px !important;
}
.push-50-r {
    margin-right: 50px !important;
}
.push-50-l {
    margin-left: 50px !important;
}
.push-60 {
    margin-bottom: 60px !important;
}
.push-60-t {
    margin-top: 60px !important;
}
.push-60-r {
    margin-right: 60px !important;
}
.push-60-l {
    margin-left: 60px !important;
}
.push-70 {
    margin-bottom:70px !important;
}
.push-70-t {
    margin-top: 70px !important;
}
.push-70-r {
    margin-right: 70px !important;
}
.push-70-l {
    margin-left: 70px !important;
}
.push-80 {
    margin-bottom: 80px !important;
}
.push-80-t {
    margin-top: 80px !important;
}
.push-80-r {
    margin-right: 80px !important;
}
.push-80-l {
    margin-left: 80px !important;
}
.push-100 {
    margin-bottom: 100px !important;
}
.push-100-t {
    margin-top: 100px !important;
}
.push-100-r {
    margin-right: 100px !important;
}
.push-100-l {
    margin-left: 100px !important;
}
.push-150 {
    margin-bottom: 150px !important;
}
.push-150-t {
    margin-top: 150px !important;
}
.push-150-r {
    margin-right: 150px !important;
}
.push-150-l {
    margin-left: 150px !important;
}

/*
* VERSÃO MOBILE
*/

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 800px) {
    .card{
        width: 46%;
        margin-left: 2%;
        margin-right:2%;
    }
    .card:nth-child(2n){
        margin-right: 0px;
    }
    .list-cards {
        padding: 30px 0px;
    }
    .titulo-licao{
        display: none;
    }
    .content-biblio{
        word-wrap: break-word;
        font-size: 14px;
    }
    .content-biblio .container{
        max-width: 90%!important;
        width: 90%!important;
    }
    .content-biblio h2{
        font-size: 22px;
    }
    .content-biblio h3{
        font-size: 19px;
    }
    #outerContainer{
        width: 90%;
    }
}
@media screen and (max-width: 420px) {
    .list-cards {
        text-align: center;
    }
    .card{
        margin-right: 0px;
        margin-left:0px;
        margin-bottom: 25px;
        width: 280px;
    }
    .form-login{
        width: 90%!important;
        margin: 0 auto;
    }
    .form-control{
        font-size: 14px;
    }
    .btnLicoes{
        display:none!important; 
    }
    .box-login{
        margin: 7% auto;
    }
    .header-box{
        margin-top: 0px;
    }
}
@media screen and (max-width: 330px) {
    .nav-curso{
        font-size: 12px;
    }
    .nav-curso .nav-link{
        padding: 0px 10px;
    }
}