
@font-face {
  font-family: 'Dax-Regular';
  src: url('Dax-Regular.eot?#iefix') format('embedded-opentype'),  url('Dax-Regular.woff') format('woff'), url('Dax-Regular.ttf')  format('truetype'), url('Dax-Regular.svg#Dax-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GothamBold';
  src: url('GothamBold.eot?#iefix') format('embedded-opentype'),  url('GothamBold.woff') format('woff'), url('GothamBold.ttf')  format('truetype'), url('GothamBold.svg#GothamBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBlack';
  src: url('GothamBlack.eot?#iefix') format('embedded-opentype'),  url('GothamBlack.woff') format('woff'), url('GothamBlack.ttf')  format('truetype'), url('GothamBlack.svg#GothamBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBook';
  src: url('GothamBook.eot?#iefix') format('embedded-opentype'),  url('GothamBook.woff') format('woff'), url('GothamBook.ttf')  format('truetype'), url('GothamBook.svg#GothamBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamLight';
  src: url('GothamLight.eot?#iefix') format('embedded-opentype'),  url('GothamLight.woff') format('woff'), url('GothamLight.ttf')  format('truetype'), url('GothamLight.svg#GothamLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamMedium';
  src: url('GothamMedium.eot?#iefix') format('embedded-opentype'),  url('GothamMedium.woff') format('woff'), url('GothamMedium.ttf')  format('truetype'), url('GothamMedium.svg#GothamMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
